.ReelMarkWrapper {
    padding-top: 0;
    margin-bottom: 0;
    border-bottom-width: 0;
    margin-top: 5px;
    bottom: 0;
    padding-bottom: 0;
    top: 0;
    align-items: flex-end;
    border-left-width: 0;
    padding-left: 0;
    flex-direction: column;
    right: 0;
    border-right-width: 0;
    box-sizing: border-box;
    border-top-width: 0;
    display: flex;
    padding-right: 0;
    margin-right: 5px;
    justify-content: flex-start;
    margin-left: 0;
    left: 0;
    vertical-align: baseline;
    position: absolute;
}

.ReelMarkWrapper svg {
    color: white;
    position: relative;
    display: block;
    filter: drop-shadow(0 0 0.75px rgba(0,0,0,.42)) drop-shadow(0 1px 0.5px rgba(0,0,0,.18)) drop-shadow(0 2px 3px rgba(0,0,0,.2));
}
